.tic-tac-toe {
    width: 100%;
    &_board {
    }
    &_btn {
        height: 11rem;
        width: 100%;
        background: transparent;
        font-size: 7rem;
        color: #ffffff;
    }
    & .active-player {
        border: 2px solid #fff;
        border-radius: 5px;
    }
    & input.player-name {
        background-color: transparent;
        color: #fff;
        font-weight: bold;
        font-size: 1.1rem;
        text-transform: capitalize;
    }
    & input.editable {
        background-color: #ffffff !important;
        color: #000000 !important;
    }
    &_log {
        max-height: 10rem;
        overflow-y: hidden;
        & ul {
            & li {
                background-color: transparent;
                color: #fff;
                border: none;
                font-size: 0.7rem;
            }
        }
    }
}
